<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/style.css">
    <title>{{{blog_name}}}</title>
</head>
<body>
<nav>
    <a href="../../../index.html">{{{blog_name}}}</a>
</nav>
{{#article}}
    <div class="article_info">
        <h1>{{{title}}}</h1>
        <small>{{createdAt}}</small>
    </div>
    <div class="article_body">
        {{{body}}}
    </div>
{{/article}}
</body>
</html>
