<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Description for better SEO -->
    <meta name="description" content="{{{blog_name}}}: {{{blog_bio}}}">

    <!-- Meta Keywords for SEO -->
    <meta name="keywords" content="blog, personal">

    <!-- Open Graph meta tags for social media sharing -->
    <meta property="og:title" content="{{{blog_name">
    <meta property="og:description" content="{{{blog_bio}}}">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{{blog_name}}}">
    <meta name="twitter:description" content="{{{blog_bio}}}">

    <!-- External CSS -->
    <link rel="stylesheet" href="./styles/style.css">

    <title>{{{blog_name}}}</title>
</head>

<body>

<div class="blog_info">
    <h1 class="blog_name">{{{blog_name}}}</h1>
    <p class="blog_bio">{{blog_bio}}</p>
</div>

<div class="article_list">
    <h2>Articles</h2>
    <ul>
        {{#article_list}}
            <li>
                <a href="./articles/{{{link}}}">{{{title}}}</a>
            </li>
        {{/article_list}}
    </ul>
</div>

</body>
</html>
