<html>
<head><title>{{blog_name}}</title></head>
<body>
<h1>{{blog_name}}</h1>
<p>{{blog_bio}}</p>
<ul>
{{#article_list}}
<li><a href="{{link}}">{{title}}</a></li>
{{/article_list}}
</ul>
</body>
</html>